.happy-customer {
  background-color: var(--bg-color);
  padding: 45px 35px;
}

.customer-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .customer-title {
    font-size: 12px;
  }
}

.customers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.customer-bx {
  max-width: fit-content;
}

.customer-bx img {
  width: 100%;
}

@media (max-width: 767px) {
  .customer-bx {
    margin: 20px auto;
  }
}
